.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgb(28, 28, 51);
  position: relative;
}

.block {
  padding-top: 50px;
  justify-content: space-around;
  display: flex;
}

.footerMain p {
  color: rgb(246, 246, 248);
  font-family: Source Sans Pro;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.stolb_two {
  padding-top: 100px;
  p {
    color: rgb(246, 246, 248);
    font-family: Source Sans Pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}
.stolb_three {
  padding-top: 100px;
  p {
    color: rgb(246, 246, 248);
    font-family: Source Sans Pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}
