.hero {
  height: 30px;
  width: 100%;
  background: rgb(87, 217, 166);
}

.mainHero p {
  text-align: center;
  color: rgb(28, 28, 51);
  font-family: Source Sans Pro;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
}
